<div class="col-xl-3 col-md-4">
  <div class="row user card">
    <div class="profile-picture">
      <a href="<%= user_path(user) %>">
        <%= image_tag @user.image.url(:medium) %>
      </a>
    </div>
    <h2>
      <a href="<%= user_path(user) %>">
        <%= user.first_name %> <%= user.last_name %>
      </a>
    </h2>
    <a href="<%= friends_path(user) %>" class="mobile_friends_count">
      <p><%= user.get_all_friends.count %> friends</p>
    </a>
    <% if user.bio %>
      <p style="text-align:center">
        <%= user.bio %>
      </p>
    <% end %>
    <% if user == current_user %>
      <a href="<%= edit_user_registration_path %>">Edit profile</a>
    <% end %>

    <div class="btn-group" role="group">
      <%= render 'partials/add_friend', user: @user %>
      <% if current_user != @user && user_signed_in? %>
        <%= button_to "Message", conversations_path(friend_id: @user.id), class: "btn btn-small btn-primary" %>
      <% end %>
    </div>
  </div>

  <div class="row user friends card">
    <a href="<%= friends_path(user) %>">
      <p><%= user.get_all_friends.count %> friends</p>
    </a>
    <div class="row">
      <% @friend_groups.each do |group| %>
        <div class="row">
          <% group.each do |f| %>
            <% if f %>
              <div class="col-4">
                <a href="<%= user_path(f) %>">
                  <span class="avatar overlay"><%= f.first_name %></span>
                  <%= image_tag(f.image.url(:thumb)) %>
                </a>
              </div>
            <% end %>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>
