<div class="row user show">
  <%= render "users/user", user: @user %>

  <div class="col-xl-9 col-md-8 friends">
    <h2>
      <%= @user.first_name %>'s friends
    </h2>

    <% @friends.in_groups_of(2).each do |group| %>
      <div class="row">
        <% group.each do |friend| %>
          <% if friend %>
            <div class="col-md-6 friend">
              <div class="media">
                <%= gravatar_image_tag(friend.email, gravatar: { size: 80, default: 'mm' }, class: "mr-3") %>
                <div class="media-body">
                  <h5 class="mt-0">
                    <a href="<%= user_path(friend) %>">
                      <%= friend.first_name %> <%= friend.last_name %>
                    </a>
                  </h5>
                  <p>
                    <%= friend.bio %>
                  </p>
                </div>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
